body {
  margin: 0px;
  font-family: "Inter";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

nav {
  background: #f55a5a;
  height: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card-container {
  display: flex;
  align-items: center;
  padding: 40px;
  gap: 20px;
}

.card-info {
  width: 325px;
}

.card-location {
  font-size: 10px;
  letter-spacing: 0.17em;
  color: #2b283a;
  padding-left: 4px;
  padding-right: 6px;
}

.mapsAnchor {
  font-size: 10px;
  line-height: 12px;
  text-decoration-line: underline;
  color: #918e9b;
}

.card-title {
  font-size: 25px;
  line-height: 30px;
  color: #2b283a;
}

.card-dates {
  font-weight: 700;
  font-size: 11px;
  line-height: 12px;
  color: #2b283a;
}

.card-description {
  font-size: 11px;
  line-height: 150%;
  color: #2b283a;
}

hr {
  border: 1px solid #F5F5F5;
  margin-left: 40px;
  margin-right: 40px;
}
