body {
  margin: 0px;
  font-family: 'Inter';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

nav{
background: #F55A5A;
 height: 70px;
 display: flex;
 justify-content: center;
 align-items: center;
}